In [1]:
import pandas as pd
df = pd.read_csv("output.csv")
df.head()

   Unnamed: 0  ... LeftKnee_CenterHips_RightKnee
0           0  ...                     52.268854
1           1  ...                     54.870945
2           2  ...                     82.554345
3           3  ...                     57.092557
4           4  ...                     65.005271

[5 rows x 20 columns]

In [4]:
df = df.dropna()

In [7]:
down_dog = df[df["name_en"]=="Downward-facing Dog"]
down_dog.describe()

       Unnamed: 0  ...  LeftKnee_CenterHips_RightKnee
count   46.000000  ...                      46.000000
mean    22.500000  ...                      57.838113
std     13.422618  ...                       7.174184
min      0.000000  ...                      37.672555
25%     11.250000  ...                      54.093426
50%     22.500000  ...                      56.505006
75%     33.750000  ...                      61.635305
max     45.000000  ...                      82.554345

[8 rows x 18 columns]

In [3]:
df[df["name_en"]=="Downward-facing Dog"]

Unnamed: 0                                        66
name_en                                 Andrea's Cat
name_sa                                          NaN
Nose_CenterShoulders_CenterHips                  NaN
LeftHip_LeftShoulder_LeftElbow                   NaN
RightHip_RightShoulder_RightElbow                NaN
LeftShoulder_LeftElbow_LeftWrist                 NaN
RightShoulder_RightElbow_RightWrist              NaN
LeftShoulder_CenterShoulders_Nose                NaN
RightShoulder_CenterShoulders_Nose               NaN
LeftIndex1_LeftWrist_LeftElbow                   NaN
RightIndex1_RightWrist_RightElbow                NaN
LeftShoulder_LeftHip_LeftKnee                    NaN
RightShoulder_RightHip_RightKnee                 NaN
LeftHip_LeftKnee_LeftAnkle                       NaN
RightHip_RightKnee_RightAnkle                    NaN
LeftKnee_LeftAnkle_LeftFootIndex                 NaN
RightKnee_RightAnkle_RightFootIndex              NaN
LeftElbow_CenterShoulders_RightElbow             NaN
LeftKnee_CenterHips_RightKnee                    NaN
Name: 66, dtype: object